html {
    overflow-x: hidden;
    /* --ytd-margin-6x: 0 !important; */
}

#columns {
    justify-content: unset !important;
}

#primary {
    /* max-width:  */
    --ytd-watch-flexy-max-player-width: calc((100vh - (56px + 24px + 4px)) * (16 / 9)) !important;
    padding: 0 !important;
    margin: 0 !important;
    /* max-width: 100% !important; */
}

#notice {
    position: absolute;
    top: -9px;
    left: 70%;
    width: 200px;
    height: 18px;
    background-color: white;
    color: black;
    font-size: 12px;
    text-align: center;
    border-radius: 10px;
    opacity: 0%;
}

.notice-fade-in {
    animation-name: notice-fade-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.notice-fade-out {
    animation-name: notice-fade-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


#secondary {
    padding: 0 !important;
    overflow-x: hidden;
    --ytd-watch-flexy-sidebar-width: 340px !important;
    /* max-width: 100% !important; */

}

.yt-live-chat-text-message-renderer {
    display: none !important;
}

#below {
    margin: 0 15px !important;
}

#secondary-inner {
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100vh - 56px);
    width: var(--ytd-watch-flexy-sidebar-width);
}

.yt-live-chat-header-renderer-class {
    height: 25px !important;
}

/* .chat-messages:first-of-type {
    height: 25px !important;
} */

.label-text-class {
    font-size: 11px !important;
}

.chat-class {
    min-height: 543px !important;
}



@keyframes notice-fade-in {
    from {
        opacity: 0%;
    }
    
    to {
        opacity: 100%;
    }

}
@keyframes notice-fade-out {
    from {
        opacity: 100%;
    }
    
    to {
        opacity: 0%;
    }
}